*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.item-card {
  position: relative;
  overflow: clip;
}
.item-card:hover .image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.item-card:hover .button {
  -webkit-transform: translate(20px, -20px);
      -ms-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
}
.item-card .image {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  aspect-ratio: 369.95/499.92;
}

.button {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  padding: 0.625rem 2.25rem;
  opacity: 0.8;
  font-weight: 700;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.7843137255);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products-section {
  margin-bottom: 5rem;
}

.head-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.head-products .title {
  font-size: 3rem;
}
.head-products .link-head {
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 1000px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 470px) {
  html {
    font-size: 60%;
  }
}

body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: "Manrope", sans-serif;
  line-height: 1.6;
  /* 22.4/14 */
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 1.875rem;
}

[class*=title] {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.banners-section {
  margin: 5rem 0;
}
.banners-section .image-banner {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banners-section .button-banner {
  position: absolute;
  top: 50%;
}
.banners-section .button-banner:hover .slider-next {
  fill: #BDBDBD;
}
.banners-section .button-left {
  left: 0.625rem;
  -webkit-transform: rotate(180deg) translateY(50%);
      -ms-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}
.banners-section .button-right {
  right: 0.625rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.banners-section .slider-next {
  color: currentColor;
  fill: #FFFFFF;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.banner-holder {
  position: relative;
}

.categories-section {
  margin-bottom: 5rem;
}

.list-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
@media (max-width: 769px) {
  .list-categories {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .list-categories {
    grid-template-columns: repeat(1, 1fr);
  }
}

.italic {
  font-style: italic;
}

.tiny {
  font-weight: 200;
}