@import "partials/default/reset";
@import "partials/default/mixins";
@import "partials/default/variables";
@import "partials/custom/scale-card";
@import "partials/custom/product-card";

html {
    @media (max-width: 1000px) {
        font-size: 90%;
    }

    @media (max-width: 800px) {
        font-size: 80%;
    }

    @media (max-width: 600px) {
        font-size: 70%;
    }

    @media (max-width: 470px) {
        font-size: 60%;
    }
}

body {
    background-color: $whiteColor;
    color: $mainColor;
    font-family: "Manrope", sans-serif;
    line-height: 1.6;
    /* 22.4/14 */
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

[class*="container"] {
    max-width: toRem($containerWidth + 60);
    margin: 0 auto;
    padding: 0 toRem(30);
}

[class*="title"] {
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

.banners-section {
    margin: toRem(80) 0;

    .image-banner {
        max-width: 100%;
        object-fit: cover;
    }

    .button-banner {
        position: absolute;
        top: 50%;

        &:hover {
            .slider-next {
                fill: $grayColor;
            }
        }
    }

    .button-left {
        left: toRem(10);
        transform: rotate(180deg) translateY(50%);
    }

    .button-right {
        right: toRem(10);
        transform: translateY(-50%);
    }

    .slider-next {
        color: currentColor;
        fill: $whiteColor;
        transition: fill 0.2s;
    }
}

.banner-holder {
    position: relative;
}

.categories-section {
    margin-bottom: toRem(80);
}

.list-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(30);

    @media (max-width: 769px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.italic {
    font-style: italic;
}

.tiny {
    font-weight: 200;
}