.feedback-section {
    margin-bottom: 5rem;
}

.container-feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    gap: toRem(40);

    @media (max-width: 768px) {
        gap: toRem(30);
    }

    .title {
        font-size: toRem(48);
    }

    .feedback-list {
        display: flex;
        justify-content: space-between;
        gap: toRem(30);

        @media (max-width: 1200px) {
            gap: toRem(20);
        }
        
        @media (max-width: 992px) {
            gap: toRem(15);
        }
        
        @media (max-width: 768px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: toRem(25);
        }
    }
    .load-more {
        border: toRem(1) solid #212121;
        padding: toRem(10) toRem(31);
        font-size: toRem(14);
        font-weight: 700;
        
        &:hover {
            background-color: $blackColor;
            color: $whiteColor;
            transition: 0.3s;

            @media (max-width: 768px) {
                padding: toRem(8) toRem(25);
            }
        }
    }
}

.item-feedback {
    display: flex;
    flex-direction: column;
    flex-basis: toRem(370);
    gap: 20px; 

    @media (max-width: 1200px) {
        flex-basis: toRem(320);
        gap: 15px;
    }
    
    @media (max-width: 992px) {
        flex-basis: toRem(300);
        gap: 12px;
    }
    
    @media (max-width: 768px) {
        max-width: toRem(600);
        width: 100%;
        flex-basis: 100%;
    }

    .product-info {
        display: flex;
        align-items: center;
        padding: toRem(16) toRem(16) toRem(26) toRem(16);
        border: toRem(1) solid #ECECEC;
        gap: toRem(27);


        @media (max-width: 1200px) {
            padding: toRem(14) toRem(14) toRem(20) toRem(14);
            gap: toRem(20);
        }
        
        @media (max-width: 992px) {
            padding: toRem(12) toRem(12) toRem(18) toRem(12);
            gap: toRem(15);
        }
        
        @media (max-width: 768px) {
            padding: toRem(12) toRem(12) toRem(16) toRem(12);
            gap: toRem(15);
        }

        .product-picture {
            @media (max-width: 768px) {
                max-width: 40%; 
            }
        }

        .item-link {
            font-size: toRem(14);
            line-height: 1.6;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    .review {
        display: flex;
        flex-direction: column;
        position: relative;


        .review-author, 
        .review-date {
            position: relative;
            font-size: toRem(14);
            color: #BDBDBD;
        }

        .review-author {
            align-self: flex-end;
        
            &::before {
            content: "";
            width: toRem(14);
            height: toRem(14);
            position: absolute;
            background-image: url(/images/icons/svg/insta.svg);
            background-repeat: no-repeat;
            background-size: contain;
            top: toRem(4);
            left: toRem(-20);
            }
        }  
        .review-details {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;  
            
            .review-rating {
                display: flex; 
                gap: toRem(2);
                
                img {
                    max-width: 100%;
                    vertical-align: middle;
                }
            }
            
            .review-date {
                font-size: toRem(14);
                color: #BDBDBD;
            }
        }
    }  

    .review-text {
        font-size: toRem(14);
        line-height: 1.6;
    }
}

.red {
    color: rgb(219, 45, 45);
}